mixin lesson(h4,...items)
	.lesson
		h4.lesson-title= h4
		ul.lesson-list
			each item in items
				li= item

section#plan
	.container
		+gt('','План мини-курса:')
		.lessons-container
			ul.lessons-links
				li 1 день
				li 2 день
				li 3 день
				li 4 день
				li 5 день
			.lessons
				+lesson('1 день','Знакомство с программами (сценариями) отказа от целей','Чем отличаются цели от хочу и желалок','Почему надо отказаться от хочу, и заявить о желании иметь','Какие уровни бывают у целей (пирамида)')
				+lesson('2 день','Какие совпадают с вашими ценностями','Какая иерархия у ваших ценностей','Какие системы (семья, общество, страна) препятствуют на разных  этапах достижения целей','Как договариваться с этими системами')
				+lesson('3 день','Магия постэффектов','Новые мощные ресурсы','Первые шаги - символические действия к своим целям','Новые формулировки твоих целей')
				+lesson('4 день','Тотальное удаление препятствий на время достижения желаемых целей','ХСР (хорошо сформулированный результат) - 50% успеха','Квантовый скачок в манифестацию желаемого')
				+lesson('5 день - БОНУСНЫЙ','Прямой эфир с личной проработкой ваших запросов инструментами Аксесс Барс')