section#get
	.container
		+gt('','Благодаря мини-курсу Вы:')
		ul.get-modal
			li Повысите и прокачаете самооценку - “комплекс полноценности“
			li Получите наикрутейшие инструменты для достижения целей 
			li Наполнитесь новыми ресурсами, о которых даже не догадываетесь 
			li Научитесь управлять пространством вариантом 
			li Сможете помочь близким людям, клиентам в выявлении программ отказа от целей, и новыми способами  получения желаемого
			li Возьмёте несколько инструментов по изменению финансовой реальности 
			li Поймёте какие и чьи сценарные программы рулят Вашей жизнью
			li Научитесь переписывать сценарии