header
	padding 20px 0
	margin-bottom: 40px
	overflow hidden
#logo
	width 180px
	height 15px;
	float left
	background-image url(../img/logo.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
.contacts
	float: right
	text-align: right
	line-height: 15px
.contact
	font-family: AV
	.fa
		font-size: 17px
		color: #2f76d8
		margin 0 5px 0 15px
	span
		font-size: 15px
