#main
	padding 0 0 60px
	background-color: #413D3C
	background-image url(../img/main_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	position relative
	text-align: center
	color #fff
	&:before
		content: ''
		display block
		position: absolute
		top 0
		left 0
		right 0
		bottom: 0
		width 100%
		height 100%
		background-color: rgba(#413D3C,.85)
		z-index 0
	.container
		position relative
		z-index 9
.pre
	font-size: 16px
.main-title
	font-size: 60px
	font-family: MWB
	margin 20px 0 30px
	text-transform: uppercase
.main-info
	font-size: 20px
	span
		font-family: MWB
		display: inline-block
	&:last-of-type
		margin 10px 0 50px