#plan
	padding 60px 0
.lessons-container
	width 100%
	max-width 650px
	margin 0 auto
.lessons-links
	text-align: center
	li
		list-style none
		display: inline-block
		width 110px
		line-height 40px
		border: 2px solid #2f76d8
		transition: all .4s ease
		cursor pointer
		margin 0 5px 10px
		&:hover
		&.active
		&.active-3
			background-color: #2f76d8
			color: #fff
			border-color: #2f76d8
.lesson
	padding 20px
	background-color: rgba(255,255,255,.66)
	&-title
		font-size: 20px
		font-family: MWB
		margin-bottom: 15px
		text-align: center
	&-list
		li
			list-style none
			padding-left: 15px
			position relative
			margin-bottom: 10px
			text-align: left 
			&:last-child
				margin-bottom: 0
			&:before
				content: ''
				display block
				width 6px
				height 6px
				position: absolute
				top 10px
				left 0
				background-color: #2f76d8
				border-radius: 5px