#records
	@extend #plan
.recs-container
	@extend .lessons-container
.recs-links
	@extend .lessons-links
	li
		@extend  .lessons-links li
.recs
	@extend .lesson
.rec-title
	text-align: center
	font-size: 20px
	margin-bottom: 15px
	font-family: MWB
	color: #054067
.rec-text
	margin 10px 0 0
.general-title-feedback 
	margin-top: 60px
#vk
#fb
	overflow hidden
	background-color rgba(255,255,255,.66)
.rec-text-sale
	text-align: center
	margin-bottom: 25px
.about-recs
	text-align: center
	margin-top: 15px
	font-size: 22px
.video-wrapper-rec-single
	max-width 650px