@media screen and (min-width 2295px)
	body
	.lessons-links li, .recs-links li
		font-size: 20px
	.container
		width 1400px
	.pre
	.modal-list li
		font-size: 18px
	.lessons-container, .recs-container
		max-width 800px
	.lesson-title, .recs-title
		font-size: 22px
	.get-list
		max-width 960px
	.packets
		max-width 860px
	.packet
		max-width 380px
	.packet-body-list
		max-width 300px
	.packet-body
		min-height 195px
@media screen and (max-width 991px)
	.modal-dialog
		width 600px
@media screen and (max-width 767px)
	header
		padding: 15px 0
		margin-bottom: 15px
	#logo
		float: none
		margin 0 auto 5px
		display block
	.contacts
		text-align: center
		float: none
		a
			display inline-block
			margin 5px 5px 0
			.fa
				margin 0 3px 0 5px
	#main
		padding-bottom:  40px
	.main-info:last-of-type
		margin-bottom: 30px
	#plan, #records, #prices
		padding 40px 0
	#get
		padding-bottom: 40px
	.packet-body
		min-height 1px
	.modal-dialog
		width auto
	.general-title-feedback
		margin-top: 40px
	#vk
		margin-bottom: 25px
@media screen and (max-width 485px)
	#logo
		width 160px
		height 13px
		margin-bottom: 0
	.contact .fa
		font-size: 15px
	.contact span
		font-size: 12px
	.main-title
		font-size: 40px
		margin 15px 0 20px
	.main-info
		font-size: 18px
		span
			font-size: 20px
	.general-title
		font-size: 26px
		margin-bottom: 20px
	.lessons-links li, .recs-links li
		font-size: 16px
		width 90px
		line-height: 35px
	.get-list li
		font-size: 18px
		&:before
			top 8px
		&:after
			top 10px
	.timer-title
		font-size: 24px
	.flip-clock-wrapper
		width 100%
		max-width 260px
		margin-top: 30px
	.flip-clock-wrapper ul
		height 50px
		margin 3px
	.flip-clock-wrapper ul li
		line-height: 50px
	.flip-clock-wrapper ul li a div.up::after
		top 24px
	.flip-clock-wrapper ul li a div div.inn
		font-size: 40px
	.flip-clock-divider
		height 50px
	.flip-clock-dot
		width 7px
		height 7px
		left 3px
	.flip-clock-dot.top
		top 31px
	.flip-clock-dot.bottom
		bottom: 27px
	.flip-clock-divider .flip-clock-label
	.flip-clock-divider.minutes .flip-clock-label
	.flip-clock-divider.seconds .flip-clock-label
		font-size:  10px
		right: -59px
	.about-recs
		font-size: 20px
	footer
		padding: 15px 0
		h5
			font-size: 18px
	.soc-buttons a
		margin 10px 5px
	footer #conditions, footer p
		font-size: 12px
		line-height: 1.2
@media screen and (max-width 385px)
	.main-title
		font-size: 32px
	#main
		padding-bottom:  30px
	.main-info:last-of-type
		margin-bottom: 20px
	#plan, #records, #prices
		padding 30px 0
	#get
		padding-bottom: 30px
	.general-title
		font-size: 24px
	.lesson, .recs
		padding 15px
	.packet
		padding 15px
		&-head
			padding-bottom: 15px
		&-body
			padding 15px 0
		&-footer
			padding-top: 15px
	.cost
		font-size: 20px
		span
			font-size: 26px
	.modal-list
		margin-left: 0